# Claves de firma (genera valores aleatorios largos)
SECRET_KEY=YF8dskAHD9218sd82jQw9sdfOQIasdoIUasdoiuqwoiU12
REFRESH_SECRET_KEY=skjdfh9832rhfsdkfha9sdhf9283hfakjsdf


# Expiraciones (minutos/días)
ACCESS_TOKEN_EXPIRES_MIN=15
REFRESH_TOKEN_EXPIRES_DAYS=7


# DB local SQLite; para Postgres: postgresql+psycopg://user:pass@host:5432/db
DATABASE_URL=sqlite:///./app.db


# CORS (coma-separado); en dev puedes dejar *
CORS_ORIGINS=*


# Cookies
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
